* {
  list-style: none;
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.main {
  display: inline-block;
  margin: 0 auto;
}

.list-item {
  display: flex;
  justify-content: space-between;
  padding: 5px;

  border: 2px solid gray;
  border-radius: 10px;
  margin: 10px 0;
}

p {
  margin: 0 10px;
}

.isDone {
  text-decoration: line-through;
}